@use '../globals/variables' as v;
@use '../globals/mixings' as m;

.anuncio{
    background-color: #f2f2f2;
    border: 1px solid v.$gris;
    .info__anuncio{
        padding: 2rem;
        span{
            color:v.$verde;
            font-weight: v.$bold;
            font-size: 2rem;
        }
    }
}

.ventajas{
    padding: 1rem 0;
    display: flex !important;
}