@use '../globals/variables' as v;
@use '../globals/mixings' as m;

.blog__testimoniales{
    @include m.tablet(space-between, center){
        gap:2rem;
        .contentMuestraBlog, .testimonialesIntro{
            flex-basis: calc(50% - 1rem);
        }
    }
}



.entrada__blog{
    display: flex;
    gap:2rem;
    margin:1rem 0;
    .imagen__blog{
        width: 60%;
        flex-basis:calc(30% - 1rem);
    }

    .content_entrada__blog{
        flex-basis: calc(60% - 1rem);
    }
}