@use '../globals/variables' as v;
@use '../globals/mixings' as m;


.footer{
    background-color: v.$grisOscuro;
}
.copy{
    text-align: center;
    color:v.$blanco;
    text-transform: capitalize;
    font-size: 2rem;
}

.contenido__footer{
    @include m.tablet(space-between, center){
    }
}