@use '../globals/variables' as v;
@use '../globals/mixings' as m;

.contenido__nosotros{
    @include m.tablet(space-between, top){
    
    }

}


.info__sobreNosotros{
    width: 50%;
    h3{
        text-align: center;
        @include m.tablet(){
            text-align: left;
        }
    }

    p{
        line-height: 2;
        font-size: 2rem;
    }

}



.servicio{
    
    img{
        height: 150px;
        margin: 0 auto;
    }
    h3{
        text-align: center;
        font-size: 2.5rem;
        font-weight: v.$delgada;
        text-transform: uppercase;
    }
    .content__servicios{
        font-size:1.8rem;
        line-height: 1.5;
        text-align: center;
        
    }
}
