@use '../globals/variables' as v;
@use '../globals/mixings' as m;



.servicio{
    
    img{
        height: 150px;
        margin: 0 auto;
    }
    h3{
        text-align: center;
        font-size: 2.5rem;
        font-weight: v.$delgada;
        text-transform: uppercase;
    }
    .content__servicios{
        font-size:1.8rem;
        line-height: 1.5;
        text-align: center;
        
    }
}
